APP_NAME="UniPH"
APP_ENV=production
APP_KEY=base64:t5mz2f9B4zd12zgHOLPMO+pLCI79wtydYiDQ570lijM=                          # lo genera artisan key:generate
APP_DEBUG=false
APP_URL=https://uniph-api.gislasas.com/

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=alexander_dadph
DB_USERNAME=alexander_us_dadph
DB_PASSWORD=us_Dadph2026

SESSION_DRIVER=file
SESSION_LIFETIME=120

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=file

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log

VITE_APP_NAME="UniPH"

REGISTROS_RATE_LIMIT=1200

# WhatsApp — desactivado hasta que lo configures
WHATSAPP_WEBHOOK_ENABLED=true
WHATSAPP_VERIFY_TOKEN=Dad_app_secret
WHATSAPP_APP_SECRET=a1e1c434dafcc96bf5eb346ae77a9dc3
WHATSAPP_PHONE_NUMBER_ID=1061926863665634
WHATSAPP_ACCESS_TOKEN=EAARfBX9TjvkBQ9jhjx9jLThfbayJ9FuVcN9L92IsyGjwYdtK0DwwLCm5mE6jre4v3C1QFnZCUtzMDtW80YpJ9ZAN8oqiXzfVw9nRVulioADGsaHO3LZAW5T9p4UbCCOlcpGjZAhmjAl2vER5G41UfsuHZBzW4miZBMFau4IlzL9kU36IrQUH1ZCFNOtDBUJhmrqvL46nv94CbxBC6rKs8Xi66PkPwlz8uktmrAQQzVLB4DILASkAgTMBMrow9HMCDBzZCNjXjodTmZBGIeU5p7cyiSgAZD
WHATSAPP_RATE_LIMIT_PER_MINUTE=10
REGISTROS_RATE_LIMIT=2000
